<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Portfolio Hub</title>
		<link rel="stylesheet" type="text/css" href="static/global_style.css" />
	</head>
	<body>
		<!-- For top right home button -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<div class="home-button">
			<a href="{{ url_for('index') }}">
				<i class="fas fa-home"></i>
			</a>
		</div>

		<!-- Navigation Bar -->
		<nav>
			<ul>
				<li><a href="{{ url_for('starnim.home') }}">Starnim</a></li>
			</ul>
		</nav>

		<header>
			<h1>Welcome</h1>
		</header>

		<!-- Footer -->
		<footer>
			<p>&copy; 2025 My Portfolio. All rights reserved.</p>
		</footer>
	</body>
</html>
